@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #5265e1;
$secondary: #fa5959;

.nav-link {
  color: $primary;
}

.nav-link:hover,
.nav-link:focus {
  color: $secondary;
}

.navbar-btn {
  color: $primary;
}