$primary: #5265e1;
$secondary: #fa5959;

//-------> Navbar
.myNavbar a {
  margin-right: 2em;
}

.myNavbar a:hover {
  color: $secondary;
}

.myNavbar button {
  background-color: $secondary;
  color: white;
  padding-right: 7%;
  padding-left: 7%;
}

.myNavbar button:hover {
  background-color: #ffffff;
  border-color: $secondary;
  color: $secondary;
}
//----------------x
//-------> Modal
.modal-body a {
  color: white;
  padding-bottom: 2em;
  font-size: larger;
  margin-left: 6em;
}

.modal-content {
  opacity: 95%;
}

.modal-body button {
  width: 20rem;
}

.modal-footer img {
  padding: 5%;
  margin-top: 10%;
}
//----------------x
//-------> Header
div.container-fluid {
  width: 100%;
  height: 100%;
}

div.header {
  flex-direction: row;
}

div.imagen-header {
  z-index: 3;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 3rem;
}

.blue-shape {
  height: 20em;
  width: 35em;
  margin-top: 25%;
  margin-left: 30%;
  z-index: 0;
}

.ilustracion-header {
  z-index: 1;
}

div.texto-header {
  z-index: 3;
  text-align: left;
  font-size: larger;
  justify-content: flex-start;
  align-items: flex-start;
}

div.texto-header p {
  text-align: left;
  margin-left: 2rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.texto-header h1 {
  margin-left: 2rem;
}

.texto-header button {
  flex-direction: row;
  margin-right: 4%;
}

.texto-header button:hover {
  background-color: white;
  color: $primary;
  border-color: $primary;
}
//----------------x
//-------> Nav-tabs
.nav-tabs {
  border-top: none !important;
  border-right: none;
  border-left: none;
  border-bottom: default;
}

.nav-tabs > li > a {
  border: none !important;
  border-right: none;
  border-left: none;
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid $secondary !important;
}

div.features-content {
  flex-direction: row;
  width: 100%;
  height: 100%;
}

div.texto-features {
  z-index: 3;
  justify-content: flex-end;
  align-items: flex-end;
}

.texto-features p {
  text-align: left;
}

.texto-features button {
  margin-right: 2%;
}

.imagen-features-1 {
  z-index: 3;
  justify-content: flex-start;
  align-items: flex-start;
}

.blue-shape-features {
  height: 20em;
  width: 35em;
  margin-top: 25%;
  margin-left: -35%;
  z-index: -1;
}

.tab-2 {
  margin-top: 5%;
  width: 15em;
}

.tab-3 {
  margin-top: 5%;
  width: 15em;
}

#Features a:hover {
  color: $secondary;
}
//----------------x

div.myCards {
  flex-direction: row;
  justify-content: center;
}

.card-2 {
  margin-top: 5%;
}

.card-3 {
  margin-top: 10%;
}

.myCards a:hover {
  background-color: white;
  color: $primary;
  border-color: $primary;
}

//------------------x

//--------> accordion

.accordion {
  flex-direction: column;
  margin-left: 20em;
  margin-bottom: 5%;
}

.accordion-btn {
  justify-content: center;
  align-content: center;
  margin-bottom: 10%;
}

.accordion-button:hover {
  color: $secondary;
}
 
//----------------------x

//-----------footer

.myFooter h6 {
  font-weight: lighter;
}

.myFooter button:hover {
  background-color: white;
  color: $secondary;
  border-color: $secondary;
}

footer .nav-link {
  color: white;
}

footer .nav-link:hover {
  color: $secondary;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #242946;
}

footer .contact {
  margin-left: 30em;
}

footer img {
  margin-right: 30px;
}

.texto-header {
  display: flex;
  float: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10%;
  text-align: center;
}

.texto-header p {
  text-align: center;
}

.texto-header.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.texto-header button {
  margin-left: 5%;
}

@media (max-width: 991.98px) {
  .blue-shape-features {
    display: none;
  }

  .tab-1 {
    position: fixed;
    width: 25em;
    margin-right: 5em;
  }

  .card-1 {
    margin-top: 0%;
    margin: 5%;
  }

  .card-2 {
    margin-top: 0%;
    margin: 5%;
  }

  .card-3 {
    margin-top: 0%;
    margin: 5%;
  }

  .accordion {
    margin-left: 10em;
  }
}

@media (max-width: 767.98px) {
  .header {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  .ilustracion-header {
    width: 28rem;
  }

  .blue-shape {
    height: 15rem;
    width: 35rem;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 0%;
  }

  div.texto-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 0%;
  }

  div.texto-header p {
    text-align: center;
    width: 20em;
  }

  .texto-header.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .texto-header button {
    margin-left: 5%;
  }

  .nav-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-tabs a {
    margin-top: 10%;
    font-size: larger;
  }

  div.features-content {
    flex-direction: column;
  }

  div.texto-features {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10%;
  }

  .texto-features h1 {
    margin-right: 10%;
  }

  .texto-features button {
    display: none;
  }

  .tab-1 {
    width: 25rem;
  }

  .blue-shape-features {
    display: flex;
    width: 23rem;
    height: 15em;
    margin-top: 25%;
    margin-left: -10%;
    margin-right: 0%;
  }

  div.myCards {
    flex-direction: column;
  }

  .card-1 {
    margin-left: 5em;
  }

  .card-2 {
    margin-left: 5em;
    margin-top: 5%;
  }

  .card-3 {
    margin-left: 5em;
    margin-top: 5%;
  }

  .accordion {
    flex-direction: column;
    margin-left: 0em;
    margin-bottom: 5%;
  }

  .myFooter {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  footer .contact {
    margin-left: 10em;
  }

  footer img {
    margin-left: 10px;
  }

  footer .nav-link {
    justify-content: center;
    align-content: center;
    margin-left: 10em;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  footer .navbar-brand {
    margin-left: 5em;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
